div.img-logo {
    Font-size: 7px;
    background-color: #fff;
}
div.left-bar {
    left: 333.3px;
}
div.blog-part {
    heigth: 333.3;
    width: 333.3;
}
div.blog-part-rigth {
    rigth: 333.3px;
}
h2.apresentation {
    weigth: 166.65px;
    hidth: 166.65px;
}
